<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.gigj">

    <!--允许应用程序联网，以便向我们的服务器端发送数据。-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--检测联网方式，区分用户设备使用的是2G、3G或是WiFi-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--获取用户设备的mac地址，在平板设备上，无法通过imei标示设备，我们会将mac地址作为用户的唯一标识-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--获取用户设备的IMEI，通过IMEI和mac来唯一的标识用户-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 连续广播（允许一个程序收到广播后快速收到下一个广播） -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <!-- 音视频通话所需权限 -->
    <!-- 唤醒锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 允许读写系统设置项 使用设置时需要 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 读取启动设置 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:name=".app.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".views.activities.GuideActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.LoginActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.RegisterActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.UserInfoActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.shipper.MainActivity"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.shipper.AuthCenterActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.SelectRoleActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.SelectListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.GasolineManageActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.AddGasolineActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.CarTeamActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.shipper.OrdersActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.NewsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.ServiceStateActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.AddServiceCarActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.AccidentDetailActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.AccidentManaActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.AddAccidentActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".views.activities.carOwner.LawServiceActivity"
                  android:screenOrientation="portrait"/>

        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1109160921115205#glgjapp" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!--umeng-->
        <meta-data android:name="UMENG_APPKEY" android:value="5847adb94544cb770a0012ad"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="${TD_CHANNEL_ID}"/>

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7b501a548121e63a2c3f10db5373549a"/>

    </application>

</manifest>